$size: 40px
$iconSize: 22px

.ModalIcons
  display: grid
  grid-template-columns: repeat(auto-fill, minmax($size, $size))
  grid-gap: 14px
  padding: 0 10px 45px !important
  place-content: center

  >div
    background-color: #e2e2e2
    height: $size
    display: flex
    place-content: center
    place-items: center
    border-radius: 50%
    border: 2px solid
    box-sizing: border-box
    >div
      font-size: $iconSize
