$size: 50px

.ModalIcons
  display: grid
  grid-template-columns: repeat(auto-fill, minmax($size, $size))
  grid-gap: 25px
  padding: 0 10px 80px
  place-content: center

  >div
    background-color: #e2e2e2
    height: $size
    display: flex
    place-content: center
    place-items: center
    border-radius: 50%
    border: 2px solid
    box-sizing: border-box
