.CellCategory
  display: grid
  grid-template-columns: 43px 1fr 122px
  place-items: flex-start
  place-content: center
  padding: 0 10px
  grid-gap: 5px
  >div:last-child
    height: 100%
    place-self: flex-end

  .name
    text-overflow: ellipsis
    overflow: hidden
    width: 100%
    white-space: nowrap

  .budget
    display: flex
    flex-direction: column
    place-content: center
    place-items: flex-end
    &.budget_max
      opacity: .5

.CellCategory_new
  .name
    color: #3f8ae0

.separator
  padding: 6px 5px
