.CardExample
  width: 95%
  height: 200px
  margin: 10px auto 0
  transition: background-color .15s
  >div
    height: 100%

  .container
    padding: 0
    display: flex
    flex-direction: column
    place-items: center
    place-content: center
    height: 100%
    >div
      height: 33.33%
      width: 100%
      display: flex
      place-content: center

    .balance
      text-align: center
      display: flex
      flex-direction: column
      place-content: center
      h4
        padding-top: 4px
        opacity: .5

    .header
      place-self: flex-start
      display: grid
      grid-template-columns: 60px 1fr
      padding: 10px
      width: calc(100% - 20px)
      .title
        text-overflow: ellipsis !important
        overflow: hidden !important
        white-space: nowrap !important
        width: 100%
        font-size: 16px
        place-self: center
