.CardExample
  width: 95%
  height: 200px
  margin: 10px auto 0
  transition: background-color .15s
  >div
    height: 100%

  .container
    padding: 0
    display: grid
    grid-template-rows: 1fr 1fr 1fr
    grid-template-columns: 1fr
    place-items: center
    place-content: center
    height: 100%

    .balance
      text-align: center
      display: flex
      flex-direction: column
      place-content: center
      h4
        padding-top: 4px
        opacity: .5

    .header
      place-self: flex-start
      display: grid
      grid-template-columns: 60px 1fr
      padding: 10px
      width: calc(100% - 20px)
      .title
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        max-width: 100%
        width: 100%
        place-self: center
      .icon
        width: 50px
        position: relative
        .border
          border: 2px dotted
          background-color: rgba(0,0,0,.1)
          box-sizing: border-box
          border-radius: 50%
          width: 100%
          height: 50px
          opacity: .5
        .item
          position: absolute
          display: flex
          place-content: center
          place-items: center
          top: 0
          left: 0
          bottom: 0
          right: 0
