$iconWidth: 40px

.CardWallet
  width: 95% !important
  margin: auto

  > div
    height: 100%

  .container
    padding: 0
    display: grid
    grid-template-rows: 1fr 1fr 1fr
    grid-template-columns: 1fr
    place-items: center
    place-content: center
    height: 100%

    .balance
      text-align: center
      display: flex
      flex-direction: column
      place-content: center

      h5, h4, h3, h2
        padding-top: 4px
        opacity: .5

    .header
      place-self: flex-start
      display: grid
      grid-template-columns: $iconWidth 1fr $iconWidth
      padding: 10px
      height: 30px
      width: calc(100% - 20px)

      .title
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        display: inline
        width: 100%
        place-self: center

      .icon
        display: flex
        place-content: flex-start
        place-items: center
        &.edit
          place-content: flex-end
          opacity: .7

  &.new
    cursor: pointer

    & .container
      & .balance
        flex-direction: row
        align-items: center
        opacity: .15

  &.shared
    & .container
      & .header
        grid-template-columns: $iconWidth 1fr
