.HistoryCell
  margin: 10px
  overflow: hidden

.cell
  padding: 0 8px
  white-space: unset

.captionTitle
  margin: 0 4px 0 8px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  span
    opacity: .3

.captionDescription
  margin: 6px 4px 0 8px

.captionAmount__green
  color: #339363
